aniso8601==8.0.0
appdirs==1.4.4
attrs==19.3.0
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
contextlib2==0.6.0.post1
defusedxml==0.6.0
enum34==1.1.10
functools32==3.2.3.post2
idna==2.9
importlib-metadata==1.6.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
pathlib2==2.3.5
pip==20.1
pyrsistent==0.16.0
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-toolbelt==0.9.1
scandir==1.10.0
sec-wall==1.2
setuptools==44.1.0
six==1.14.0
spyne==2.12.16
suds-jurko==0.6
urllib3==1.25.9
wheel==0.34.2
wsgiref==0.1.2
zipp==1.2.0
Werkzeug==0.16.1
Flask-Spyne==0.3.1
flask==1.1.2
flask-restplus==0.13.0
configparser==4.0.2
lxml==4.5.1
zeep==3.4.0
backport_ipaddress==0.1
